body {
  font-size: 1rem;
  font-family: "Work Sans", "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
}

.sfondo-2 {
  position: relative;
  height: 50vh;
}

.content-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  height: 50vh;
  width: 90%;
}

h3 {
  font-size: 1.71rem;
  line-height: 1.3;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0 0 0.5em 0;
}
